@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-weight: 400;
}

body {
  font-size: 18px; 
  line-height: 1.5; 
  color: #1E253A;
}

a {
  text-decoration: none;
  color: #7495F7;
}

ul {  
  margin-top: 0px;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none; 
}

strong {
  font-weight: 700;
}

h1 {
  font-size: 45px;
  font-weight: 500;
}

h2 {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 500;
}

/*Button style*/

.btn-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}

.btn {
  margin-right: 10px;
  margin-top: -5px;
  padding: 5px;
  text-align: center;
  border: 1px solid #1E253A;
  border-radius: 5px;
  color: #1E253A;
  font-weight: 700;
}

.btn-primary {
  position: relative;
  background: #1E253A;
  color: #fff; 
}

.btn-secondary {
  position: relative;
  background: #fff;
}

.title-project {
  margin-bottom: 10px;
  font-size: 110%;
  font-weight: 700;

}

/* main container */

.container {
  margin: 0 auto;
  width: 65%;
}

/* block */

.item-container {
  display: flex;
  margin-top: 10px;
  max-width: 100%;
}

.sp-between {
  justify-content: space-between; 
  padding-bottom: 20px;
}

.first-col {
}

.second-col {
  min-width: 250px;
}

.photo {
  height: 150px;
  border-radius: 50%; 
}

/* Social links */

.social-links-wrapper {
  display: flex;
  margin: 20px 0;
  padding-left: 20px; 
}

.social-links-wrapper a:hover {
  opacity: 0.5;
}

.social-item {
  display: flex;
  margin-right: 10px;
  width: 48px;
  height: 48px;
  justify-content: center;
  font-size: 40px;
  line-height: 1.30;
  color: #FFF;
  border-radius: 25%;
  background: #c3b091;
}

.social-item img {
  margin-top: 8px;
  width: 33px;
  height: 33px; 
}

.about-wrapper {
}

.about-wrapper ul {
  margin-bottom: 0px, !important;
}

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.skills-item {  
  padding: 0px 40px 30px 0px;  
  width: 300px;
}

.skills-item p {  
  font-size: 14px;
}

.education-wrapper {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.education-item {
  display: flex;
}

.education-item span {
  line-height: 1.5;
}

.speciality {
  padding-top: 40px;
  font-size: 20px;
}

/*badprojects block*/

.project-wrapper {
  width: 40%;
  flex-direction: column;
}

.project-wrapper a {
  text-decoration: underline;
  font-weight: 700;
}

/*work expirience block*/

.work-exp-wrapper {
  flex-direction: column;
  width: 45%;
}

#exjob-title {
  
}

li.title-small {
  font-size: 35px;
  color: #c3b094;
}

/*Media styles*/

@media (max-width: 1000px) {

body {
  margin: 10px 20px;
  font-size: 35px;
}

h1 {
  font-size: 65px;
  font-weight: 700;
}

h2 {
  font-size: 50px;
  font-weight: 700;
}

.item-container {
  display: flex;
  margin-top: 10px;
}

.photo {
  max-width: 210px;
  height: 290px;
}

.title-large-first {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 35px !important;
  font-weight: 700;
}

.title-large {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 35px !important;
  font-weight: 700;
}

.title-small {
  margin-top: 10px;
  font-size: 30px !important;
  font-weight: 700;
}

/* Social links */

.social-item {
  display: flex;
  margin: 0px 15px 0px 0px;
  align-content: center;
  font-size: 65px;
  width: 80px;
  height: 80px;
  color: #FFF;
  border-radius: 25%;
  background: #c3b091;
}

.social-item img {
  margin-top: 8px;
  width: 65px;
  height: 65px; 
}

/* Skills */

.skills-item-wrapper {
  display: flex;
  margin-top: 10px;
  margin-bottom: 30px;
  max-width: 800px;
  flex-wrap: wrap;
}

.skills-item {  
  margin: 5px;
  padding: 5px 10px;
  border-radius: 8px;
  border: 2px solid #c3b091;
  font-size: 45px;
  font-weight: 700;
  color: #c3b094;  
  background: #fff;
}

.languages-wrapper li{
  font-size: 35px;
}

.education-wrapper {
  display: flex;
  margin-top: 10px; 
  margin-left: 20px;
  padding: 10px;
  width: 900px;
}

.project-wrapper {
  margin: 10px;
  padding: 20px;
  width: 100%;
}

.work-exp-wrapper {
  margin: 10px; 
  padding: 20px; 
  width: 100%;
  text-align: justify; 
}
