@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  /*font-weight: 400;*/
}

body {
  font-size: 1.1em; 
  line-height: 1.5; 
  color: #484848;
  background-color:  #f6f5ed;
}

a {
  text-decoration: none;
  color: #C30C0C;
}

ul {  
  margin-top: 0px;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none; 
}

h1{
  font-size: 40px;
  font-weight: 400;
}

h2 {
  font-size: 30px;
  font-weight: 400;
}

h3 {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 400;
  /*border-bottom: 1px solid #484848;*/
}

hr {
  border-top: 1px solid #ccc;
  border-bottom: 0px solid #484848;
}

span.overline {
  text-decoration: line-through;
}


/* Language buttons style */

.lang-btn-wrapper {
  display: flex;
  justify-content: center;
}

.lang-btn {
  margin: -10px 3px 3px 3px;
  padding: 10px 0px 5px 0px;
  border: 1px solid transparent;
  border-radius: 10px;
  min-width: 100px;
  background-color: #f6f5ed; 
  text-align: center;
  transition: background-color 0.2s;
}

.lang-btn:hover {
  background-color: #484848; 
}

.lang-btn a {
  color: #C30C0C;
}

/* main container */

.container {
  margin: auto;
  max-width: 63%;
}

/* block */

.item-container {
  display: flex;
  max-width: 100%;
}

.item-pb {
  padding-bottom: 20px;
}

.item-container-mt {
  margin-top: 50px;
}

.sp-between {
  justify-content: space-between; 
}

.flex-start {
  justify-content: flex-start; 
}

.first-col {
  margin-bottom: 10px;
  padding-right: 40px;
}

.second-col {
  min-width: 270px;
}

.photo {
  height: 150px;
  border-radius: 50%; 
}

.position {
  color: #C30C0C;
}

/* TODO Social links */

.social-wrapper { 
  font-size: 0.8em;
}

.social-wrapper a {
  padding-top: 10px;
  padding-right: 30px;
  color: #989890;
  text-decoration: underline;
  text-decoration-style: dotted;
} 

.skills-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.skills-item {  
  padding: 0px 50px 0px 0px;  
  width: 230px;
}

.skills-item h3 {
  border-bottom: 1px solid #ccc;
}

.skills-item p { 
  color: #989890; 
  font-size: 0.8em;
}

.skills-pb {
  padding-bottom: 20px;
}

/*badprojects block*/

.projects-wrapper {
}

.item-projects-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.item-projects {
  padding-right: 15px;
  /*padding-bottom: 30px;*/
  width: 260px;
}

.edu-describe {
  /*margin-top: 20px;*/
  width: 400px;
  padding-right: 30px;
  /*padding-bottom: 30px;*/
}

.edu-describe p {
  font-size: 0.8em;
}

.edu-describe-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.other p {
  margin-bottom: 25px;
}

footer {
  min-height: 100px;
  /*background-color: #484848; */
}

.footer-link {
  color: #f6f5ed
}

/*Media styles*/

@media (min-width: 480px) and (max-width: 1000px) {

body {
  font-size: 3em; 
}

h1{
  font-size: 2.6em;
  font-weight: 400;
}

h2 {
  font-size: 1.6em;
  font-weight: 400;
}

h3 {
  margin-bottom: 5px;
  font-size: 1em;
  font-weight: 400;
  /*border-bottom: 1px solid #484848;*/
}


.lang-btn {
  margin: -10px 3px 3px 3px;
  padding: 10px 5px 20px 5px;
  border: 1px solid #484848;
  border-radius: 10px;
  width: 400px;
  font-size: 1.4em;
  background-color: #f6f5ed; 
  text-align: center;
  transition: background-color 0.1s;
}

.container {
  margin: auto;
  max-width: 75%;
}

.item-container {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}

.item-container-mt {
  margin-top: 100px;
}


.first-col-xs h1, .first-col-xs li {
  text-align: center;
}

.second-col {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.photo {
  margin: auto;
  height: 350px;
}


/* TODO Social links */

.social-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} 

.social-wrapper a {
  padding: 20px 15px 5px 15px;
  color: #989890;
  text-decoration: underline;
  text-decoration-style: dotted;
} 

/* Skills */

.skills-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.skills-item {
  width: 100%;  
}

.skills-item p {  
  font-size: 0.8em;
}

.skills-pb {  
  padding-bottom: 30px;
}

/* Projects */

.item-projects {
  padding-right: 30px;
  width: 100%;
}

.item-pb-xs {
  padding-bottom: 30px;
}

.edu-describe {
  margin-top: 20px;
  width: 100%;
}

.edu-describe-pb {
  padding-bottom: 30px;
}