@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-weight: 400;
}

body {
  margin: 10px 20px;
  font-size: 18px; 
  line-height: 1.5; 
  color: #1E253A;
}

a {
  text-decoration: none;
  color: #7495F7;
}

ul {  
  margin-top: 0px;
  padding-left: 20px;
}

li {
  margin: 0;
  padding: 0;
  list-style-type: none; 
}

strong {
  font-weight: 700;
}

h1 {
  font-size: 45px;
  font-weight: 500;
}

h2 {
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: 500;
}

/*Button style*/

.btn-container {
  margin-top: -20px;
  display: flex; 
  justify-content: center;
}

.btn-container a:hover {
  color: #000;
  opacity: 0.3;
  text-decoration: none;
  list-style-type: none !important; 
  background: #dbc7a7; 

}

.btn {
  display: flex;
  margin: 5px;
  padding: 5px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
}

.btn-primary {
  position: relative;
  background: #c3b091; 
}

.btn-secondary {
  position: relative;
  background: #ccc;
}

.title-project {
  margin-bottom: 10px;
  font-size: 110%;
  font-weight: 700;

}

/* block */

.wrapper-row-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item-test {
  display: flex;
  margin: 5px;
  padding: 10px;
  flex: 1 0 auto;
}

.item-test-first {
  display: flex;
  margin: 5px;
  flex: 1 0 auto;
}

.flex-border {
  border: 0px solid #c3b091;
  border-radius: 10px;
  overflow: hidden;
}

.fio-wrapper {
  display: flex;
}

.photo {
  height: 120px;
  border-radius: 50%; 
}

.wrapper-name {
}

/* Social links */

.social-links-wrapper {
  display: flex;
  margin: 20px 0;
  padding-left: 20px; 
}

.social-links-wrapper a:hover {
  opacity: 0.5;
}

.social-item {
  display: flex;
  margin-right: 10px;
  width: 48px;
  height: 48px;
  justify-content: center;
  font-size: 40px;
  line-height: 1.30;
  color: #FFF;
  border-radius: 25%;
  background: #c3b091;
}


.social-item img {
  margin-top: 8px;
  width: 33px;
  height: 33px; 
}

.about-wrapper {
}

.about-wrapper ul {
  margin-bottom: 0px, !important;
}

.skills-wrapper {
}

.languages-wrapper li {
}

.skills-item-wrapper {
  display: flex;
  max-width: 530px;
  flex-wrap: wrap;
}

.skills-item {  
  margin: 5px;
  padding: 6px;
  border-radius: 6px;
  border: 2px solid #c3b091;
  font-size: 25px;
  color: #c3b094;  
  background: #fff;
}

.education-wrapper {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.education-item {
  display: flex;
}

.education-item span {
  line-height: 1.5;
}

.speciality {
  padding-top: 40px;
  font-size: 20px;
}

/*badprojects block*/

.project-wrapper {
  width: 40%;
  flex-direction: column;
}

.project-wrapper a {
  text-decoration: underline;
  font-weight: 700;
}

/*work expirience block*/

.work-exp-wrapper {
  flex-direction: column;
  width: 45%;
}

#exjob-title {
  
}

li.title-small {
  font-size: 35px;
  color: #c3b094;
}

/*Media styles*/

@media (max-width: 1000px) {

body {
  margin: 10px 20px;
  font-size: 35px;
}

h1 {
  font-size: 65px;
  font-weight: 700;
}

h2 {
  font-size: 50px;
  font-weight: 700;
}

.flex-conteiner {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.item-test {
  display: flex;
  margin: 5px;
  padding: 20px;
  flex: 1 0 auto;
}

.item-test-first {
  display: flex;
  margin: 5px;
  height: 290px;
  flex: 1 0 auto;
}

.photo {
  max-width: 210px;
  height: 290px;
}

.title-large-first {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 35px !important;
  font-weight: 700;
}

.title-large {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 35px !important;
  font-weight: 700;
}

.title-small {
  margin-top: 10px;
  font-size: 30px !important;
  font-weight: 700;
}

/* Social links */

.social-item {
  display: flex;
  margin: 0px 15px 0px 0px;
  align-content: center;
  font-size: 65px;
  width: 80px;
  height: 80px;
  color: #FFF;
  border-radius: 25%;
  background: #c3b091;
}

.social-item img {
  margin-top: 8px;
  width: 65px;
  height: 65px; 
}

/* Skills */

.skills-item-wrapper {
  display: flex;
  margin-top: 10px;
  margin-bottom: 30px;
  max-width: 800px;
  flex-wrap: wrap;
}

.skills-item {  
  margin: 5px;
  padding: 5px 10px;
  border-radius: 8px;
  border: 2px solid #c3b091;
  font-size: 45px;
  font-weight: 700;
  color: #c3b094;  
  background: #fff;
}

.languages-wrapper li{
  font-size: 35px;
}

.education-wrapper {
  display: flex;
  margin-top: 10px; 
  margin-left: 20px;
  padding: 10px;
  width: 900px;
}

.project-wrapper {
  margin: 10px;
  padding: 20px;
  width: 100%;
}

.work-exp-wrapper {
  margin: 10px; 
  padding: 20px; 
  width: 100%;
  text-align: justify; 
}
